<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reversi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

<h1>Welcome to <a href="/">Gamestudio</a>!</h1>
<h1>Reversi</h1>

<a href="/reversi/new">New game</a><br/>

<div th:text="${@reversiController.gameState}"/>
<div th:text="${@reversiController.playerState}"/>
<div th:utext="${@reversiController.htmlField}"/>


<p th:text="${@reversiController.scoreBlack}"></p> <p th:text="${@reversiController.scoreWhite}"></p>

<span th:text="${@reversiController.message}"
      class="label label-success"></span>

<h2>Scores</h2>
<ol>
    <li th:each="score : ${scores}">
        <span th:text="${score.player}"/>
        <span th:text="${score.points}"/>
    </li>
</ol>


<a href="/comment"> Services</a>

</body>
</html>
